In [ ]:
import numpy as np
import pandas as pd

In [ ]:
bike_train = pd.read_csv('train.csv')

In [ ]:
bike_train = bike_train.set_index('date_time')
bike_train

            wind_direction  ...  number_of_rentals
date_time                   ...
2018-04-01         207.500  ...              22994
2018-04-02         208.317  ...              28139
2018-04-03         213.516  ...              26817
2018-04-04         143.836  ...              26034
2018-04-05          95.905  ...               2833
...                    ...  ...                ...
2020-06-26         228.662  ...              96150
2020-06-27         207.770  ...             107001
2020-06-28         282.568  ...              98568
2020-06-29         137.027  ...              70053
2020-06-30         120.797  ...              38086

[273 rows x 9 columns]

In [ ]:
bike_test = pd.read_csv('test.csv')

In [ ]:
bike_test = bike_test.set_index('date_time')
bike_test

            wind_direction  ...  number_of_rentals
date_time                   ...
2021-04-01         108.833  ...             116640
2021-04-02         116.717  ...             110607
2021-04-03          82.669  ...              14026
2021-04-04          44.123  ...              94160
2021-04-05         147.791  ...             110533
...                    ...  ...                ...
2021-06-26         177.149  ...             105813
2021-06-27         138.723  ...              92869
2021-06-28         111.095  ...             106378
2021-06-29         171.622  ...             111907
2021-06-30         181.709  ...             122200

[91 rows x 9 columns]

In [ ]:
bike = pd.concat([bike_train,bike_test])
bike

            wind_direction  ...  number_of_rentals
date_time                   ...
2018-04-01         207.500  ...              22994
2018-04-02         208.317  ...              28139
2018-04-03         213.516  ...              26817
2018-04-04         143.836  ...              26034
2018-04-05          95.905  ...               2833
...                    ...  ...                ...
2021-06-26         177.149  ...             105813
2021-06-27         138.723  ...              92869
2021-06-28         111.095  ...             106378
2021-06-29         171.622  ...             111907
2021-06-30         181.709  ...             122200

[364 rows x 9 columns]

In [ ]:
# 1. "일교차가 너무 큰 날씨"를 알기 위한 정보
bike['temp_diff_info'] = bike['high_temp'] - bike['low_temp']
# 2. "덥고 습한 날씨"를 알기 위한 정보
bike['sweat_info'] = bike['high_temp'] * bike['humidity'] 
# 3. "춥고 바람부는 날씨"를 알기 위한 정보
bike['cold_info'] = bike['low_temp'] * bike['wind_speed']

In [ ]:
bike.drop(['wind_direction', 'humidity', 'cold_info'], axis=1, inplace=True)

In [ ]:
bike = bike[['sky_condition', 'precipitation_form', 'wind_speed', 'low_temp', 'high_temp', 'Precipitation_Probability', 'temp_diff_info', 'sweat_info', 'number_of_rentals']]

In [ ]:
train_bike_x = bike[0:273]
train_bike_x.drop(['number_of_rentals'], axis=1, inplace=True)
train_bike_y = bike['number_of_rentals'][0:273]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
def NMAE(true, pred):
    score = np.mean(np.abs(true-pred) / true)
    return score

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression() # 모델 정의
model.fit(train_bike_x, train_bike_y) # 학습

LinearRegression()

In [ ]:
test_bike_x = bike[273:]
test_bike_x.drop(['number_of_rentals'], axis=1, inplace=True)
test_bike_y = bike['number_of_rentals'][273:]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
y_hat = model.predict(test_bike_x) # y 예측

score = NMAE(test_bike_y, y_hat)

print(f'모델 NMAE: {score}')

모델 NMAE: 0.5666997759641244

In [ ]:
import statsmodels.api as sm
x=sm.add_constant(train_bike_x)
model=sm.OLS(train_bike_y,x).fit()
model.summary()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:      number_of_rentals   R-squared:                       0.402
Model:                            OLS   Adj. R-squared:                  0.386
Method:                 Least Squares   F-statistic:                     25.46
Date:                Wed, 08 Dec 2021   Prob (F-statistic):           1.68e-26
Time:                        05:51:21   Log-Likelihood:                -3108.8
No. Observations:                 273   AIC:                             6234.
Df Residuals:                     265   BIC:                             6263.
Df Model:                           7
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                      5.684e+04   1.63e+04      3.495      0.001    2.48e+04    8.89e+04
sky_condition              9546.5094   9297.321      1.027      0.305   -8759.510    2.79e+04
precipitation_form         4.747e+04   4.32e+04      1.098      0.273   -3.76e+04    1.33e+05
wind_speed                -8595.4857   1743.682     -4.930      0.000    -1.2e+04   -5162.252
low_temp                    -82.8811    425.283     -0.195      0.846    -920.245     754.482
high_temp                   166.5044    397.110      0.419      0.675    -615.387     948.396
Precipitation_Probability -1773.5073    953.655     -1.860      0.064   -3651.211     104.197
temp_diff_info              249.3855    540.272      0.462      0.645    -814.386    1313.157
sweat_info                   16.5874      7.235      2.293      0.023       2.342      30.833
==============================================================================
Omnibus:                       55.964   Durbin-Watson:                   0.536
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               11.973
Skew:                          -0.021   Prob(JB):                      0.00251
Kurtosis:                       1.975   Cond. No.                     1.03e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.16e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""